 <!-- Navbar -->
 <nav class="navbar navbar-expand-lg navbar-custom">
    <div class="container">
        <!-- Brand -->
        <a class="navbar-brand" href="{% url 'phome' %}">
            <i class="fas fa-graduation-cap"></i> Codeshestergn
        </a>

        <!-- Toggler for mobile -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar Links -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'phome' %}">
                        <i class="fas fa-home"></i> Accueil
                    </a>
                </li>
               
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'pListeService' %}">
                        <i class="fas fa-cogs"></i> Services
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'pListeFormation' %}">
                        <i class="fas fa-book"></i> Formations
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contact">
                        <i class="fas fa-envelope"></i> Contact
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#apropos">
                        <i class="fas fa-info-circle"></i> À Propos
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>