{% extends 'home/base.html' %}

{% block section %}
<div class="container mt-5">
    <h1 class="mb-4">Inscription au service {{ service.title }}</h1>

    <!-- Affichage des messages -->
    {% if messages %}
        {% for message in messages %}
            <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <!-- Formulaire -->
    <form method="post">
        {% csrf_token %}

       

        <!-- Champ Nom Complet -->
        <div class="mb-3">
            <label for="{{ form.nomComplet.id_for_label }}" class="form-label">Nom Complet</label>
            <input type="text" class="form-control" id="{{ form.nomComplet.id_for_label }}" name="{{ form.nomComplet.name }}" required>
        </div>

        <!-- Champ Pays -->
        <div class="mb-3">
            <label for="{{ form.pays.id_for_label }}" class="form-label">Pays</label>
            <input type="text" class="form-control" id="{{ form.pays.id_for_label }}" name="{{ form.pays.name }}" required>
        </div>

        <!-- Champ Ville -->
        <div class="mb-3">
            <label for="{{ form.ville.id_for_label }}" class="form-label">Ville</label>
            <input type="text" class="form-control" id="{{ form.ville.id_for_label }}" name="{{ form.ville.name }}" required>
        </div>

        <!-- Champ Téléphone WhatsApp -->
        <div class="mb-3">
            <label for="{{ form.tel_whatsapp.id_for_label }}" class="form-label">Téléphone WhatsApp</label>
            <input type="tel" class="form-control" id="{{ form.tel_whatsapp.id_for_label }}" name="{{ form.tel_whatsapp.name }}" required>
        </div>

        <!-- Champ Email -->
        <div class="mb-3">
            <label for="{{ form.email.id_for_label }}" class="form-label">Email</label>
            <input type="email" class="form-control" id="{{ form.email.id_for_label }}" name="{{ form.email.name }}" required>
        </div>

        <!-- Champ Message -->
        <div class="mb-3">
            <label for="{{ form.message.id_for_label }}" class="form-label">Message</label>
            <textarea class="form-control" id="{{ form.message.id_for_label }}" name="{{ form.message.name }}" rows="4" required></textarea>
        </div>

        <!-- Bouton de soumission -->
        <div class="row">
            <div class="col-md-6 mx-auto">
                <button type="submit" class="btn btn-primary w-100">S'inscrire</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}